@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body
{
    background-image: url("https://img.freepik.com/free-vector/zigzag-lines-pattern-black-background_1017-37483.jpg");
    background-size: cover;
}

.header
{
    font-family: 'Play', sans-serif;
    color: #ffffff;
    background-color: #1f1f1f;
    font-size: 20px;
}

.tab-bar
{
    /* font-family: 'Play', sans-serif; */
    overflow: hidden;
    border:1px solid #ffffff;
    background-color: #f1f1f1;
}

.tab-bar button
{
    font-family: 'Play', sans-serif;
    font-size: large;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab-bar button:hover
{
    background-color: #b10808;
}

.tab-bar button.active
{
    background-color: #ccc;
}

.tab-content
{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #ccc;
}

.delete-btn
{
    color: #ff2c2c;
}

.edit-btn
{
    color: #3563c7;
}

#contactsTable
{
    font-family: 'Play', sans-serif;
    font-size: medium;
    border-collapse: collapse;
    width: 100%;
}

#contactsTable td, #contactsTable th
{
    border: 1px solid #f1f1f1;
    padding: 8px;
} 

#contactsTable tr:nth-child(even)
{
    background-color: #8f527d;
}

#contactsTable tr:hover
{
    background-color: #b10808;
}

#contactsTable th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:black;
    color: white
}

.input-field
{
    width: 15%;
    padding: 10px 0;
    margin: 25px 0;
    margin-left: 500px;
    border-radius: 25px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:#0f0000;
    background: transparent;
    box-shadow: 0 0 20px 9px #00000062;
    text-align: center;
}

.Search-button
{
    border-radius: 50px;
    padding: 7px 10px;
}

.Search-button:hover
{
    background-color: #b10808;
}
