@import url('https://fonts.googleapis.com/css2?family=Play&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Play&family=Press+Start+2P&display=swap');

body 
{
    background-image: url("https://img.freepik.com/free-vector/zigzag-lines-pattern-black-background_1017-37483.jpg");
    background-size: cover;
}

h1
{
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    position: relative;
    font-size: 30px;
    text-align: center;
}

.form-box
{
    border-radius: 15px;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #979797;
    padding: 5px;
    overflow: hidden;
}

.button-box
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #00000062;
    border-radius: 30px;
    background: #ffffff;
}

.toggle-btn
{
    font-family: 'Play', sans-serif;
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.input-group
{
    top: 100px;
    position:absolute;
    width: 280px;
    transition: .5s;
}

.input-field
{
    width: 100%;
    padding: 0px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:#fff;
    background: transparent;
    box-shadow: 0 0 20px 9px #00000062;
}

.rg-input-field
{
    width: 100%;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:#fff;
    background: transparent;
    box-shadow: 0 0 20px 9px #00000062;
}

#loginForm
{
    left: 50px; 
}
#registerForm
{
    left: 400px;
}

#btn
{
    top: 0;
    left: 0; 
    position: absolute;
    width: 110px;
    height: 100%;
    background: hsl(197, 100%, 50%);
    border-radius: 30px;
    transition: .5s;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 33%;
    font-size: 30px;
    padding: 10px 30px;
    font-family: 'Play', sans-serif;
	background-color: #FFFFFF;
}

#loginButton
{
    margin-left: 25%;
}

#registerButton
{
    margin-left: 18%;
}

.buttons:hover{
    background-color: hsl(197, 100%, 63%);
    opacity: 100%;
}

#loginName
{
    font-family: 'Bruno Ace SC', cursive;
    margin-top: 25%;
    font-size: 23px;
    background-color: #FFFFFF;
}
#loginPassword
{
    font-family: 'Bruno Ace SC', cursive;
    margin-top: 5%;
    font-size: 23px;
	background-color: #FFFFFF;
}

#newUserFirst
{
    font-family: 'Bruno Ace SC', cursive;
    margin-top: 5%;
    font-size: 23px;
	background-color: #FFFFFF;
}

#newUserLast
{
    font-family: 'Bruno Ace SC', cursive;
    margin-top: 5%;
    font-size: 23px;
	background-color: #FFFFFF
}

#newUserLoginName
{
    font-family: 'Bruno Ace SC', cursive;
    margin-top: 5%;
    font-size: 23px;
	background-color: #FFFFFF
}

#newUserLoginPassword
{
    font-family: 'Bruno Ace SC', cursive;
    margin-top: 5%;
    font-size: 23px;
	background-color: #FFFFFF
}

input[type="text"],input[type="password"]{
    border-radius: 10px;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

